/*################################*\
		resume  |  _dev.less
\*################################*/
@import (reference) url('../../node_modules/still-alive/css/src/__settings.less');


///////////////////////////////////////////////////////////////////////////////
// xmeter overrides & extensions
///////////////////////////////////////////////////////////////////////////////




///////////////////////////////////////////////////////////////////////////////
// still-alive overrides & extensions
///////////////////////////////////////////////////////////////////////////////
a[href]:hover {
	color: #ff9d00;
}
.c-Camo {
	a&:not(:hover):not(:focus) {
		text-decoration: none !important;
		color: inherit;
	}
}
